@mixin flex-box($justify, $align) {
    @if $justify==null {
        display: flex;
        align-items: $align;
    }

    @else {
        display: flex;
        align-items: $align;
        justify-content: $justify;
    }
}

@mixin flex-direction($direction, $justify, $align) {
    @include flex-box($justify, $align);
    flex-direction: $direction;
}

@mixin img-width($width) {
    max-width: $width;
    margin: 0 auto;
}

@mixin position($position, $bottom, $top, $left, $right) {
    position: $position;

    @if $right==null and $top==null {
        bottom: $bottom;
        left: $left;
    }

    @if $bottom==null and $right==null {
        top: $top;
        left: $left;
    }

    @if $bottom==null and $left==null {
        top: $top;
        right: $right;
    }
}

@mixin desktop {
    @media only screen and (max-width: 1250px) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: 993px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 290px) {
        @content;
    }
}

@mixin print {
    @media only print {
        @content;
    }
}