%flex-center {
    display: flex;
    align-items: center;
}

%section-title {
    padding: 1.4rem 0;
    font-size: 37px;
    line-height: 1.4;
    color: $clr-dark;
    font-weight: 800;
}

%resume-design {
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(15, 20, 31, .16);
    width: 51.1%;
}