@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";
@import "./components/_components-dir";
@import "./layout/_layout.-dir";

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.navbar {
    height: 80px;
    @include flex-box(null);

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .container {
        width: 100%;
    }

    .navbar-brand {
        @include flex-box(flex-end);
        font-size: 1.8rem;

        &-text {
            color: $clr-dark;
            font-weight: 700;
            font-size: 23px;
        }

        &-text span {
            color: $clr-blue;
        }

        &-icon {
            width: 25px;
            margin-right: 6px;
            opacity: 0.8;
        }
    }

    .brand-and-toggler {
        @include flex-box(space-between);
    }
}

.section-one {
    padding: 8rem 0;
    min-height: 80vh;
    @extend %flex-center;

    .section-one-l img {
        @include img-width(750px);
    }

    .btn-group {
        margin-top: 2rem;
        @include flex-box(flex-start);
    }

    .section-one-r {
        @include img-width(545px);

        img {
            margin-top: 4rem;
        }

        .lg-title {
            @extend %section-title;
        }

        .text {
            color: $clr-dark;
            opacity: 0.9;
            padding: 2rem 0;
            line-height: 1.6;
            font-size: 18px;
        }
    }

}



/* responsive */
@media screen and (min-width: 768px) {
    .section-two .section-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .section-one-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .section-one-r {
        text-align: left;
    }

    .section-two .section-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-two .section-item {
        text-align: left;
    }

    .section-two .section-item-icon img {
        margin-left: 0;
    }
}