@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";
@import "./components/_components-dir";
@import "./pages/_pages";






/* responsive */
@media screen and (min-width: 768px) {
    .section-two .section-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .cols-3 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .cols-2 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .section-one-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .section-one-r {
        text-align: left;
    }

    .section-two .section-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-two .section-item {
        text-align: left;
    }

    .section-two .section-item-icon img {
        margin-left: 0;
    }

    .cv-form-row {
        padding: 3rem 3rem 0rem 3rem;
    }

    .cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.print-btn-section {
    margin: 2rem 0 6rem 0;
}