.cv-form-block {
    margin: 3rem 0;

    .cv-form-row-title {
        background-color: $clr-dark;
        padding: 1rem 1.6rem;
        margin-bottom: 2rem;
        box-shadow: $shadow-color;

        h3 {
            color: $clr-white;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 1.7rem;
        }
    }

    .cv-form-row {
        padding: 3rem 2rem 0 2rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: $shadow-color;
        margin-bottom: 1rem;
        position: relative;

        .cols-3,
        .cols-2 {
            display: grid;
        }

        .form-element {
            margin-bottom: 3rem;
            position: relative;

            .form-text {
                color: #ca0b00;
                font-size: 12px;
                position: absolute;
                letter-spacing: 0.5px;
                top: calc(100% + 2px);
                left: 0;
                width: 100%;
            }
        }
    }
}