.navbar {
    height: 80px;
    @include flex-box(null);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

    .container {
        width: 100%;
    }

    .navbar-brand {
        @include flex-box(flex-end);
        font-size: 1.8rem;

        &-text {
            color: $clr-dark;
            font-weight: 700;
            font-size: 23px;
        }

        &-text span {
            color: $clr-blue;
        }

        &-icon {
            width: 25px;
            margin-right: 6px;
            opacity: 0.8;
        }
    }

    .brand-and-toggler {
        @include flex-box(space-between);
    }
}