.navbar {
    height: 80px;
    @include flex-box(null, center);
    box-shadow: $shadow-color;

    .container {
        width: 100%;
    }

    .navbar-brand {
        @include flex-box(flex-end, center);
        font-size: 1.8rem;

        &-text {
            color: $clr-dark;
            font-weight: 700;
            font-size: 23px;
        }

        &-text span {
            color: $clr-blue;
        }

        &-icon {
            width: 25px;
            margin-right: 6px;
            opacity: 0.8;
        }
    }

    .brand-and-toggler {
        @include flex-box(space-between, center);
    }
}