.section-two {
    padding: 64px 0;

    .section-items {
        display: grid;
        gap: 2rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include laptop {
            grid-template-columns: repeat(3, 1fr);
        }

        .section-item {
            @include img-width(350px);
            @include flex-direction(column, null, flex-start);

            @include laptop {
                text-align: left;
            }
        }

        .section-item-icon {
            margin: 1rem 0;

            img {
                margin: 0 auto;

                @include laptop {
                    margin-left: 0;
                }
            }
        }

        .section-item-title {
            color: $clr-blue-dark;
            font-size: 2rem;
            font-weight: 700;
        }

        .text {
            margin: 0.9rem 0;

        }
    }
}