.modal {
    max-width: 200px;

    &-container {
        @include position(fixed, null, 0, 0, null);
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: $transition;
        @include flex-box(center, center);

        video {
            width: 90%;
            max-width: 800px;
            transform: scale(0);
            box-shadow: $shadow-color;
            outline: none;
            transition: $transition;
        }

        &.show {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }

        &.show video {
            transform: scale(1);
        }
    }

    &-close {
        @include position(absolute, null, 30px, null, 40px);
        font-size: 30px;
        cursor: pointer;
    }

}